extends layout

include _includes/sharedHTMLfunctions

block custom_css
  link(rel='stylesheet', href='/stylesheets/map.css')

block content
  .row.page-header
    .col-lg-12.my-2
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p= location.address
          .panel
            .panel-heading
              h2.panel-title Время работы
            .panel-body
              each time in location.openingTimes
                p 
                  | #{time.days} :
                  if time.closed
                    | Закрыто
                  else
                    | #{time.opening} - #{time.closing}
          .panel
            .panel-heading
              h2.panel-title Удобства
            .panel-body.d-flex.justify-content-start.flex-wrap
              each facility in location.facilities
                .bg-primary.p-1.px-2.me-1.mb-1.text-light.rounded-1
                  i.fas.fa-check &#32; #{facility}
        .col-xs-12.col-sm-6.location-map
          .panel
            .panel-heading
              h2.panel-title Местоположение
            .panel-body
              img.map.img-responsive.rounded-2(src="https://static-maps.yandex.ru/1.x/?l=map&pt=#{location.coords.lat},#{location.coords.lng},pm2rdm&z=15")
      .row.mt-2
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading.d-flex.justify-content-between.align-items-center
              h2.panel-title Отзывы
              a.btn.btn-primary(href='/location/review/new') Добавить отзыв
            .panel-body.review-container
              each review in location.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor &#32; #{review.author}
                      small.reviewTimestamp &#32; #{review.timestamp}
                    .col-xs-12.mt-2
                      p !{(review.reviewText).replace(/\n/g, '<br/>')}
    .col-xs-12.col-md-3
      p.lead #{location.name} #{sidebar.context}
      p= sidebar.callToAction